/* EMPIEZA TRABAJO FRANCELLA */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
main {
    padding-top: 6.5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
}
.item-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: horizontal 10px;
} 

.item {
  border: 2px solid var(--tertiary-color);
  border-radius: 20px;
  padding: 40px 10px 20px 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.item:hover{
transform: scale(1.05);}

.item-img {
  display: none;
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  
}
.item-desc {
  display: flex;
  gap: 5rem;
  flex-direction: row;
}

.item-title {
  font-weight: 450;
  padding: 10px 0px 10px 0px;
}
.icon {
  height: 1rem;
  width: 1rem;
  margin: 2px;
  border-radius: rem;  
  color: #47444a
}
button {
  margin-top: 10px;
  background-color: #F9B17A;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
 button:hover {
    background-color: #f19854;
}

/* TERMINA TRABAJO FRANCELLA */
@media (max-width: 767px) {
  .container {
    /* Force 2 columns on mobile devices */
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
}