/* EMPIEZA TRABAJO FRANCELLA */
body {
  margin: 0;
  padding: 0;
  background-color: rgba(10, 10, 26, 0.85);
}
main {
    padding-top: 10rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.item-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.item {
  border: 1px solid #8A38F5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.item-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  background: #ccc;
  border-radius: 5px;
}
.item-desc {
  display: flex;
  gap: 5rem;
  flex-direction: row;
}
.icon {
  height: 1rem;
  width: 1rem;
  margin: 2px;
  border-radius: rem;  
  color: #8A38F5
}
button {
  margin-top: 10px;
  background-color: #F9B17A;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
 button:hover {
    background-color: #f19854;
}

/* TERMINA TRABAJO FRANCELLA */
@media (max-width: 767px) {
  .container {
    /* Force 2 columns on mobile devices */
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
}